@import "../../../master.scss";

.pagination-button {
    display: flex;

    .pagination-action {
        .pagination-button-left,
        .pagination-button-right {
            border-radius: 10px;
            position: relative;
            padding: 1em;
            background: $base-color-grey-secondary;

            .pagination-button-svg {
                position: absolute;
                width: 8px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                filter: brightness(10);
            }
        }
    }

    .pagination-button-wrapper {
        margin: 0 1.2em 0 1.2em;
        padding: 1px;
        height: 1.5em;
        border-radius: 5px;
        background: $base-color-grey-secondary;

        .pagination-button-svg {
            margin: 0 0.5em 0 0.5em;
            vertical-align: middle;
            width: 8px;
            filter: brightness(10);
        }

        .pagination-button-info {
            color: #fff;
            vertical-align: middle;
            font-size: 9px;
        }
    }
}
