@import "master.scss";

.combined-buttons {
    display: flex;

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: 600;

        .combined-buttons-icon {
            width: 1.2em;
            height: 1.2em;
        }
    }

    .left {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .right {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .color {
        color: #fff;
        background: $base-color-main;
    }

    .white {
        color: #999;
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .flex {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.double-icons-S {
    .button {
        width: 3.75em;
        height: 2.75em;
    }
}

.double-icons-L {
    .button {
        width: 6em;
        height: 3.8888em;

        .combined-buttons-icon {
            width: 1.5em;
            height: 1.5em;
        }
    }
}

.double-command-S {
    .button {
        width: 9.5em;
        height: 2.75em;
    }

    .white {
        color: #555;

        .combined-buttons-icon {
            color: #888;
        }
    }
}

.double-command-L {
    .button {
        width: 12.5em;
        height: 3.5em;
    }

    .white {
        color: #555;

        .combined-buttons-icon {
            color: #888;
        }
    }
}

.triple-letters-S {
    .button {
        width: 3.5em;
        height: 2.75em;
    }
}

.triple-letters-L {
    .button {
        width: 8.5em;
        height: 3.5em;
    }
}

.triple-date-S {
    .button {
        width: 6.5em;
        height: 2.75em;
    }

    .white {
        color: #555;
    }
}

.triple-date-L {
    .button {
        width: 9em;
        height: 3.5em;
    }

    .white {
        color: #555;
    }
}

.buttons-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
}

.buttons-circle-S {
    width: 2.5em;
    height: 2.5em;
    background: #a7e521;

    .combined-buttons-icon {
        width: 1em;
        height: 1em;
    }
}

.buttons-circle-L {
    width: 3.5em;
    height: 3.5em;
    background: #03c3ec;

    .combined-buttons-icon {
        width: 1.2em;
        height: 1.2em;
    }
}

.buttons-buttons-social-media {
    width: 16em;
    height: 2.75em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #888;
    border: 1px solid #ccc;
    border-radius: 4px;
}
