@import "master.scss";

.app {
    .app-header-card {
        margin: 3em 0 2.5em 4em;
        h1 {
            font-size: 30px;
            font-weight: 600;
            color: #2c3f58;
        }
        span {
            font-weight: 400; // 500 looks better
            color: #778699;
        }
    }
    .app-container {
        background: #fafbfd;
        border-bottom: 1px solid #d7e1ea;
        .container-wrapper {
            .container-header {
                margin-bottom: 1em;
                h2 {
                    padding: 1em 0 1em 4em;
                    font-weight: 500;
                    font-size: 17px;
                    color: #2c3f58;
                    border-top: 1px solid #d7e1ea;
                    border-bottom: 1px solid #d7e1ea;
                }
            }
            .container-body {
                margin-left: 4em;
            }
            .two-columns {
                display: grid;
                grid-template-columns: repeat(2, minmax(30em, 36em));
            }
        }
    }
}
