@import "../../../master.scss";

.pagination-number {
    display: inline-flex;
    border-radius: 5px;
    background: #fff;

    .pagination-number-wrapper {
        .pagination-number-buttons {
            width: 2.5em;
            height: 2em;
            color: $base-color-grey;
        }

        .active-number-button {
            color: $base-color-main;
            box-shadow: 0 2px $base-color-main;
        }

        .pagination-number-buttons:hover {
            color: $base-color-main;
            box-shadow: 0 2px $base-color-main;
        }
    }
}
