@import "master.scss";

.big-button {
    width: 10em;
    height: 3.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.4em;
    font-weight: 600;
}

.big-button-with-svg {
    .big-button-image-wrapper {
        width: 1em;
        height: 1em;
        display: flex;
        justify-content: center;
        align-items: center;

        .big-button-image {
            width: 1.2em;
            height: 1.2em;
        }
    }

    .image-right {
        .big-button-image {
            margin-left: 1.8em;
        }
    }

    .image-left {
        .big-button-image {
            margin-right: 1.8em;
        }
    }
}

.full-color-main {
    color: #fff;
    background: $base-color-main;
}

.full-color-grey {
    color: $base-color-grey;
    background: #d8e2ea;
}

.full-color-white {
    color: #444;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fff;
}

.full-color-border {
    color: $base-color-main;
    border: 2px solid $base-color-main;
}
