@import "../../../master.scss";

.tab-text-section {
    width: 28em;

    .tab-text-wrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(1px, 1fr));
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        .tab-text-button {
            padding-bottom: 0.5em;
            margin-right: 1em;
            width: max-content;
            height: 2.5em;
            display: flex;
            align-items: center;

            .tab-text-button-span {
                color: $base-color-grey;
                vertical-align: middle;
            }
        }

        .tab-text-button:hover {
            box-shadow: 0 2px $base-color-main;
            filter: invert(0.5) sepia(1) saturate(5) hue-rotate(205deg);
        }

        .active-text-tab {
            box-shadow: 0 2px $base-color-main;
            filter: invert(0.5) sepia(1) saturate(5) hue-rotate(205deg);
        }
    }
}
