$base-color-main: #a29bfe;
$base-color-secondary: #00cec9;
$base-color-background: #fafbfd;
// TODO
$main-font-color: #a29bfe;
$base-color-grey: #777;
$base-color-grey-secondary: #d8dadc;
$base-color-background: #fafcfe;
