@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,500;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

$base-color-main: #a29bfe;
$base-color-secondary: #00cec9;
$base-color-grey: #777;
$base-color-grey-secondary: #d8dadc;
$base-color-background: #fafcfe;
